name: cd

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write   # REQUIRED for Workload Identity Federation

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: notely-483004
      REGION: us-central1
      REPO: notely-ar-repo
      IMAGE: notely
      SERVICE: notely

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"